.contact-section {
  background: linear-gradient(to top, #ffffff, #7DD957  20%);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.contact-box {
  min-height: 400px;
  background: #ffffff;
  border-radius: 33px;
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
  box-shadow: none;
  align-items: center; /* ✅ DİKEY ORTALAMA */
  margin-top: 60px;
}


/* Sol Başlık */
/* Sol Başlık */
.contact-left {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* ✅ Ekledik */
}



.contact-heading-img {
  /* Artık margin yok! */
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  align-self: center;
}



.contact-left h2 {
  font-size: 40px;
  line-height: 1.3;
  color: #5cae59;
  font-weight: 800;
  text-transform: lowercase;
}

/* Sağ Form */
.contact-form {
  background-color: #ffffff;
  flex: 2 1 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form label {
  font-family: reemkufi, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #17983b;
  text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
  background-color: #EAEAE3;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  align-self: flex-start;
  background-color: #17983b;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #0f6b2b;
}
.contact-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  background-color: white;
  text-align: center;
  flex-wrap: wrap;
}
