.services-container {
  padding: 80px 20px;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.services-container h2 {
  font-size: 48px;
  color: #1d5c1a;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* ✅ Ortala */
  align-items: flex-start;
  gap: 40px;
  margin: 0 auto;
  max-width: 1200px;
}


.service-box {
  background: #c6ff83;
  width: 280px;
  padding-top:30px;
  padding-bottom: 30px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 100, 0, 0.1);
}

.service-box:hover {
  transform: translateY(-10px);
}

.service-box::after {
  content: "";
  display: block;
  height: 40%;
  background-color: #204d16;
  border-radius: 0 0 20px 20px;
}

.service-box-content {
  padding: 20px;
  background: none;
  z-index: 2;
}

.service-box h3 {
  font-size: 22px;
  color: #174f11;
  margin-bottom: 10px;
}

.service-box p {
  font-size: 15px;
  color: #333;
}


/* Paketler */
.service-packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.package {
  background: #C6FF83;
  border-radius: 30px;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 100, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'League Spartan', sans-serif;
  transition: transform 0.3s ease;
}

.package:hover {
  transform: translateY(-8px);
}

.package h3 {
  font-size: 22px;
  font-weight: bold;
  color: #1a3b0f;
  margin-top: 25px;
}

.package p {
  font-size: 16px;
  font-weight: bold;
  color: #1a3b0f;
  margin: 10px 0;
}

.package .price {
  background: #204d16;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}


.package.premium {
  background: linear-gradient(to top, #d4ff8f, #ffffff);
  border: 2px solid #17983b;
}
.services-cta {
  margin-top: 80px;
  text-align: center;
}

.cta-button {
  display: inline-block;
  background-color: white;
  color: #1a3b0f;
  font-weight: bold;
  font-size: 18px;
  font-family: 'League Spartan', sans-serif;
  padding: 18px 36px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid #1a3b0f;
}

.cta-button:hover {
  background-color: #1a3b0f;
  color: white;
}
